.bzTKuO  {
    position: absolute;
    top:0px;
    width: 3%
}
.sc-eqIVtm  {
    width: 100%;
}
.u_body {
    /* background-color: #23232D !important; */
}

.blockbuilder-branding {
    display: none !important;
}

.bzTKuO  {
    position: absolute;
    top:0px;
    left: 0px;
}
.dCzaWD   {
    width: 100%;
}

body {
    background-color: #f3f3f3 !important;
}

.hEHgro {
    display: none;
}
